<% @comments.each do |comment| %>
<div class="row panel">
	<div class="col-sm-2"><%= link_to comment.user.username, user_path(comment.user), class: "",:method=> :get, :remote => true, :data => {:toggle => "modal", :target => "#profile"} %>: </div><span><%= comment.body %></span>
</div>
<% end if @comments.present? %>