<div class="container panel-group">
  <% @posts.each do |post|%>
    <div class="col-sm-4">
      <div class="panel panel-primary" href="<%= %>" data-toggle="modal" data-target="#showPicDetailsModal" remote="true">
        <div class="panel-heading"><%= post.title.titleize%></div>
        <div class="panel-body"><img src="<%=post.pic_url.url%>" class="img-responsive"></div>
      </div>
    </div>
  <% end if @posts.present? %>
</div>
<div class="modal" id="showPicDetailsModal"></div>