<div class="container panel-group">
  <% @posts.each do |post|%>
    <div class="col-sm-4">
      <div class="panel panel-primary" value="<%= post.id %>" data-toggle="modal" data-target="#showPicDetailsModal" remote="true">
        <div class="panel-heading"><%= post.title.titleize%></div>
        <div class="panel-body"><img src="<%=post.pic_url.url%>" class="img-responsive"></div>
      </div>
    </div>
  <% end if @posts.present? %>
</div>
<div class="modal fade" id="showPicDetailsModal" role="dialog"></div>

<script type="text/javascript">
  $(document).on('click', '.panel', function(){
    var id = $(this).attr('value');
    $.ajax({
      type: "GET",
      url: "/posts/"+id,
      dataType: "script"
    });
  });
  // $(document).on('click', '#submitComment', function(){
  //   var body = $('.comments').val();
  //   if (body!= ""){
  //     $.ajax({
  //       type: "POST",
  //       url: "/comments?body="+body,
  //       dataType: "script"
  //     });
  //   }
  // });
</script>