/*General css*/
#error_explanation {
  color: #f00;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #f00;
  }
}

.nav_btns{
  margin-right:20px; 
  margin-top:7px
}
/*General css ends*/

/*posts page*/
.posts_panel{
  cursor: pointer;
}

 /*posts ends*/